img {
    border: 2px solid rgb(158, 148, 148, 0.2);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img:hover {
    width: 110%;
    height: 110%;
    border: 2px solid rgb(158, 148, 148, 0.6);
}

tr {
    border: 5px solid red;
}
